<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register</title>
</head>

<body>
    <h1>AI Summarizer Register</h1>
    <!--
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div style="margin: 2px; padding: 2px; margin-bottom: 10px;">{{ form.username }}</div><br><br>
        <div style="margin: 2px; padding: 2px; margin-bottom: 10px;">{{ form.password }}</div><br><br><br><br><br><br>
        <div style="margin: 2px; padding: 2px; margin-bottom: 10px;">{{ form.submit }}</div>
    </form>
    -->
<!--
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div style="margin: 2px; padding: 2px; margin-bottom: 10px;">{{ form.username }}</div><br><br>
        <div style="margin: 2px; padding: 2px; margin-bottom: 10px;">{{ form.password }}</div><br><br>
        <div style="margin: 2px; padding: 2px; margin-bottom: 10px;">{{ form.submit }}</div>
    </form>
-->
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.username }}<br>
    <div style="margin: 7px;" class="myElement">{{ form.password }}</div>
    {{ form.submit }}
</form>

<br><br><a href="{{ url_for('login') }}">Already have an account? Log In</a>
</body>

</html>